<nav class="fixed w-full top-0 bg-gray-800 z-10 py-4">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">NorthStar Market</span>
    <% end %>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <%= link_to cart_path, class: "text-sm text-gray-500 dark:text-white hover:underline" do %>
      <%= icon 'fa-solid', 'shopping-cart' %>
      <span class="hidden md:inline-block">Cart</span>
      <% end %>
    </div>
  </div>
</nav>
